*.iml
.gradle
/local.properties
/.idea/
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/assetWizardSettings.xml
/.idea/navEditor.xml
/build
/caches
/.idea/caches
/app/build
/captures
.externalNativeBuild
.cxx
/google-services.json
.DS_Store